<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://baidu.com" class="link" target="_blank">百度</a> |
            <a href="https://juejin.im" class="link" target="_blank">掘金</a> |
            <a href="https://zhihu.com" class="link" target="_blank">知乎</a> 
        </div>
        <p class="copyright">
            copyright
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>
